<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated zenhtt_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.copy.zenhtt_model.presentation.Zenhtt_modelModelWizardID"
            name="%_UI_Zenhtt_modelModelWizard_label"
            class="com.copy.zenhtt_model.presentation.Zenhtt_modelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Zenhtt_modelModelFile.gif">
         <description>%_UI_Zenhtt_modelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated zenhtt_model -->
      <editor
            id="com.copy.zenhtt_model.presentation.Zenhtt_modelEditorID"
            name="%_UI_Zenhtt_modelEditor_label"
            icon="icons/full/obj16/Zenhtt_modelModelFile.gif"
            extensions="zenhtt_model"
            class="com.copy.zenhtt_model.presentation.Zenhtt_modelEditor"
            contributorClass="com.copy.zenhtt_model.presentation.Zenhtt_modelActionBarContributor">
      </editor>
   </extension>

</plugin>
